@inherits LayoutComponentBase

<PageTitle>lab7</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <NavLink class="nav-link" href="registration">
            <span aria-hidden="true"></span> Registration
        </NavLink>

        <NavLink class="nav-link" href="login">
            <span aria-hidden="true"></span> Login
        </NavLink>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
