@{
    ViewData["Title"] = "lab4";
}

<div class="text-center">
    <h1>@Html.ActionLink("Ingridient list", "Index", "Ingridients")</h1>
    <h1>@Html.ActionLink("Dish list", "Index", "Dishes")</h1>
    <h1>@Html.ActionLink("Employee list", "Index", "Employees")</h1>
</div>
