@page "/employee/createresult/{result:bool}"
@inject NavigationManager NavigationManager
@using Data;
@using lab7.Services;

<PageTitle>Cereating result</PageTitle>

@if (Result)
{
        <h1>Employee was successfully created</h1>
}
else
{
        <h1>Oops... Something went wrong :(</h1>
}

<button @onclick="ToEmployeeList">Back</button>
@functions {
    [Parameter]
    public bool Result { get; set; }

    private void ToEmployeeList()
    {
        NavigationManager.NavigateTo("/employees");
    }
}