@page "/employees/successpage/{message}"
@inject NavigationManager NavigationManager
@using Data;
@using lab7.Services;

<PageTitle>Success page</PageTitle>

<h1>@Message</h1>

<button @onclick="ToEmployeeList">Back</button>
@functions {
    [Parameter]
    public string Message { get; set; }


    private void ToEmployeeList()
    {
        NavigationManager.NavigateTo("/employees");
    }
}