@page "/users/successpage/{message}"
@inject NavigationManager NavigationManager
@using Data;
@using lab7.Services;

<PageTitle>Success page</PageTitle>

<h1>@Message</h1>

<button @onclick="ToRegistrationPage">Back</button><br/>
<button @onclick="ToLoginPage">Login</button>
@functions {
    [Parameter]
    public string Message { get; set; }

    private void ToRegistrationPage()
    {
        NavigationManager.NavigateTo("/registration");
    }

    private void ToLoginPage()
    {
        NavigationManager.NavigateTo("/login");
    }
}