@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li>@Html.ActionLink("Ingridient list", "Index", "Ingridients")</li>
    <li>@Html.ActionLink("Dish list", "Index", "Dishes")</li>
    <li>@Html.ActionLink("Employee list", "Index", "Employees")</li>
</ul>
